@page "/signup"
<h3>Sign Up</h3>


<p><b>Username:</b><br></p>
<input type="text" size="40">
<p><b>First name:</b><br></p>
<input type="text" size="40">
<p><b>Last name:</b><br></p>
<input type="text" size="40">
<p><b>Password:</b><br></p>
<input type="text" size="40">
<p><b>Confirm password:</b><br></p>
<input type="text" size="40">


@code {

}
